<div *ngIf="isLoading" class="flex justify-center items-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden"></span>
  </div>
</div>

<div *ngIf="!isLoading">
  <div class="flex justify-center">
    <button type="button" (click)="changeModel()"
            class="text-white bg-[#4CAF50] hover:bg-[#388E3C] focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2">
      Add Plant
    </button>
  </div>

  <app-model [isOpen]="isModelOpen" (closeModel)="changeModel()">
    <app-form-add-plant
      (onCloseModel)="changeModel()"
      (plantAddedOrUpdated)="onPlantAddedOrUpdated()"
      [data]="plant">
    </app-form-add-plant>
  </app-model>

  <section class="bg-white dark:bg-gray-900">
    <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6 ">
      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">
        <div *ngFor="let plant of plants" class="hover:scale-105 transition-transform items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
          <a [routerLink]="['/plant', plant.id]">
            <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" [src]="plant.imageUrl" alt="Image plant">
          </a>
          <div class="p-5">
            <h3 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white hover:text-sky-600">
              <a [routerLink]="['/plant', plant.id]">{{plant.name}}</a>
            </h3>
            <span class="hover:text-green-300 text-gray-500 dark:text-gray-400">{{plant.scientificName}}</span>
            <p class="mt-3 mb-4 text-2xl font-light text-gray-500 dark:text-gray-400">Hum: {{plant.humidity}} %</p>
            <p class="mt-3 mb-4 text-2xl font-light text-gray-500 dark:text-gray-400">Temp: {{airData.temperatureValue}} °C</p>
            <ul class="flex space-x-4 sm:mt-0">
              <li>
                <button type="button" (click)="plant.id && loadPlant(plant)" class="text-white bg-green-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Edit</button>
              </li>
              <li>
                <button type="button" (click)="plant.id && deletePlant(plant.id)" class="text-white bg-amber-700 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-yellow-900">Delete</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="plants?.length === 0" class="text-center">
        <h1>No existe data</h1>
      </div>
    </div>
  </section>
</div>
