<div class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="bg-white shadow-lg rounded-lg p-8 max-w-4xl w-full mt-[-4rem]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <div class="col-span-1 md:col-span-2 flex justify-center">
        <div class="relative w-20 h-20 rounded-full bg-gray-300 flex-shrink-0 mb-4 md:mb-0">
          <img id="profileImage" src="https://res.cloudinary.com/daassyisd/image/upload/v1717831248/g88rarsaols8hmledlcg.png" alt="Profile" class="w-full h-full rounded-full object-cover">
        </div>
      </div>

      <div class="md:col-span-2">
        <form [formGroup]="userForm" (ngSubmit)="saveChanges()">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label class="block text-gray-700 font-medium mb-1">Name:</label>
              <input type="text" formControlName="name" class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-1">Last Name:</label>
              <input type="text" formControlName="lastName" class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-1">Username:</label>
              <input type="text" formControlName="username" class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-1">Age:</label>
              <input type="number" formControlName="age" class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-1">Gender:</label>
              <input type="text" formControlName="gender" class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-1">Cellphone:</label>
              <input type="tel" formControlName="cellPhone" class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-1">N° Registered Plants:</label>
              <input type="number" formControlName="numberPlants" class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500" [disabled]="true">
            </div>
          </div>
          <div class="mt-4 text-center md:text-left md:col-span-2">
            <button type="submit" [disabled]="userForm.invalid" class="bg-blue-500 text-white font-medium rounded-lg px-6 py-2 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
              Save Changes
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
