<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="flex justify-center">
      <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
        <!-- Humidity card -->
        <app-humidity></app-humidity>

        <!-- temperature card -->
        <app-temperature></app-temperature>

        <!-- Forum card-->
        <div class="hover:scale-105 w-full transition-transform inline-block p-6 mx-auto max-w-lg text-center text-gray-900 bg-green-400 rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white min-w-min">
          <h3 class="mb-4 text-4xl text-white font-semibold">Forum</h3>
          <div class="flex justify-center items-baseline text-white">
            <img routerLink="/forum" src="assets/img/chat.png" alt="forum-img" class="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24 lg:h-32 lg:w-32 xl:h-40 xl:w-40 object-cover">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<app-plants-list></app-plants-list>
